<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="login.css">
  <script src="../../config/login.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <div class="container">
    <h2>Login</h2>
      <div class="center">
        <input type="text" name="login_dni" id="login_user" required>
        <span></span>
        <label>Correo</label>
      </div>
      <div class="center">
        <input type="password" name="login_pass" id="login_pass" required>
        <span></span>
        <label>Contraseña</label>
      </div>
      <div class="pass">¿Has olvidado la contraseña?</div>
      <input type="button" value="Login" onclick="login()">
      <div class="Link">
        ¿No eres un miembro? <a href="../registro/registro.html">Regístrate</a>
      </div>
  </div>
</body>
</html>
